html {
    margin: 0 auto;
    font-size: 100%;
}

body {
    font-size: 1rem;
    background-color: rgb(255, 240, 225);
    color: #000000;
    font-family: Helvetica, sans-serif;
}

.maxwidth{
    max-width: 650px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

@media (max-width: 500px){
    .maxwidth {
        max-width: none;
    }
}
/* ------------------------------ NAV BAR ----------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul.left {
    justify-content: flex-start;
}

nav li {
    margin: 0.8rem;
}


nav a {
    color: #000000;
    transition: color 0.1s;
    text-decoration: none;
}

nav a:hover {
    color: #c48049;
}

nav div {
    justify-content: flex-start;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

/* ----------------------------------------------------------- */
