html {
    margin: 0 auto;
    font-size: 100%;   
    cursor: cell;
}

body {
    margin: 0 auto;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: rgb(255, 245, 235);
    color: #000000;
    font-family: 'Arial';
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    letter-spacing: 1px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Super Dream', sans-serif;
    letter-spacing: 1px;
    color: #503434;
}
.container {
    width: 100%;
    min-height: calc(100vh - 140px);
}

/* ------------------------------ home page messages ----------------------------- */

.welcome {
    text-align: center;
    padding-top: .3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Scrouble Outline', sans-serif;
    color: rgb(200, 0, 0);
}

.banner {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -10px;
    font-family: 'Subeve', sans-serif;
    color: rgb(0, 0, 0);
}

/* ------------------------------ NAV BAR ----------------------------- */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-family: 'Super Dream', sans-serif;
    color:#ff0000;
    border-bottom: #000000 1px solid;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul.left {
    justify-content: flex-start;
}

nav li {
    margin: 0.8rem;
}


nav a {
    color: #000000;
    transition: color 0.1s;
    text-decoration: none;
}

nav a:hover {
    color: #c48049;
}

nav div {
    justify-content: flex-start;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 3rem;
}

.logoimage {
    position: absolute;
    top: 1.4rem;
    height: 2rem;
    padding-left: .5rem;
}


/* ----------------------------------------------------------- */


/* ---------------------------- FOOTER ------------------------------- */
footer {
    bottom: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer li {
    margin: 0.8rem;
}

footer a {
    color: #828282;
    text-decoration: none;
}

/* ------------------------------------------------------------------- */

/* ---------------------------- BLOG LIST ------------------------------- */


.blogpost ul {
    padding: 5px;
    list-style-type: circle;
}
.blogpost a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.blogpost li{
    margin: 10px 0;
}

.blogtitle {
    text-align: center;
}

.blogmetadata{
    color: #828282;
}

.blogimgcontainer{
    width: 100%;
    text-align: center;
}

.blogimg{
    max-height: 550px;
    max-width: 80%;
}

/* ---------------------------------------ALBUM DISPLAY ------------------------------- */

.album {
    width: 100%;
    overflow: auto hidden;
  }
  
.album img {
    float: left;
    width: 35%;
    margin-right: 0;
    padding-bottom:1rem;
  }

.albumtext{
    float: right;
    width: 62%;
    padding: 0;
    margin-top: 0;
    word-wrap: break-word;
    padding-bottom:1rem;
}

.albumtitle h3{
    margin-bottom: 0.2rem;
    margin-top: 0;

}

.albummetadata{
    color: #828282;
    margin-bottom: 0;
}

.albumdesc {
    font-size: 0.87rem;
    line-height: 1rem;
}

.albumtext hr{
    margin-top: 0.1rem;
    margin-bottom:0.3rem;
}

.clickable {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}