canvas {
    outline: solid black 1px;
    width: 100%;
}

.upload-box {
    width: 100%;
    text-align: center;
}

#videoElement{
    display: 'none';
}

#asciiOutput {
    font-size: 5px;
}

.asciiContainer {
    max-width: 100%;
    text-align: center;
}

#button-container {
    text-align: center;
    margin-top: 20px;
  }
  