#manZone {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    background-color: #a6cfb3;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}