.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
  }

  .grid-item {
    background-color: rgb(50, 30, 10);
    height: 50px;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }
#twinkle {
  display: none;
}