html, body {
    margin: 0;
    padding: 0;
    height: 100%;

  }
  
  canvas {
    display: block;
    position: absolute;
    border: 1px solid black;

  }
  
  #main {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      background-color: lightblue;

  }