#tetris-bg{
    background-repeat: no-repeat;
    line-height: 0px;
    text-align: left;
    margin: auto auto;
    width : 300px;
    height : 540px;
    z-index: 100;
    border-bottom: 2px solid rgb(177, 18, 18);
}


div.block {
    width: 30px;
    height: 30px;
    display: inline-block;
}

#lightBlue {
    background-color: hsl(195, 53%, 30%);
}
#blue {
    background-color: hsl(240, 26%, 23%);
}
#orange {
    background-color: hsl(39, 64%, 33%);
}
#yellow {
    background-color: hsl(60, 20%, 50%);
}
#green {
    background-color: hsl(120, 41%, 23%);
}
#purple {
    background-color: hsl(300, 20%, 20%);
}
#red {
    background-color: hsl(0, 100%, 20%);
}

#score {
    height: .5rem;
    display: none;
}

#gameOver {
    height: 1rem;
    align-items: center;
    justify-content: center;
}